{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <article class="ten wide column">
      <header class="ui  header"> Twitter like Microblogging</header>
      <p> This is a super simple twitter like micro blogging service made in node.js! The application has image support for
      <a href="http://gravatar.com/">Gravatar</a> the Avatarservice from wordpress.com. If you want to change your avatar please
      change it at Gravatar.</p>
    </article>
  </div>
</section>
